<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/index.css"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Conference Finder DFA</title>
</head>
<body>
    <div class="container text-center py-5">
        <h1 class="text-white mb-3">Conference Finder DFA</h1>
    </div>
    <div id="resultContainer" class="text-center">
        <form method="POST" action="{% url 'process_DFA' %}">
            {% csrf_token %}
            {{ form.testStrings }}
            <br>
            <button type="submit" class="btn btn-md btn-outline-dark">Search</button>
        </form>
        <br>
    </div>
</body>
</html>
