<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/index.css">
    <title>Conference Finder DFA</title>
</head>
<body>
    <div class="headerBackground headerBackground-fluid mb-5">
        <div class="container text-center py-5">
          <!-- <h1 class="text-primary mb-4">Fast &amp; Simple</h1> -->
          <h1 class="text-white display-3 mb-5">Conference Finder DFA</h1>
        </div>
    </div>
    <div id="content">
        <form method="POST" action="{% url 'process_DFA' %}">
            {% csrf_token %}
            <p id="input"><b>Input: </b></p>
            {{ form.testStrings }}
            <br>
            <button type="submit" class="btn btn-md btn-primary">Search</button>
        </form>
        <br>
    </div>
</body>
</html>
